/* Reset général pour éliminer les marges par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------- Style général de la page -----------------*/
:root {
    --primary-color: #000509;
    --secondary-color: #6c757d;
    --third-color: #fafbfb;
    --font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    font-family: var(--font-family);
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    word-spacing: 2px;
}

/**************************************************************************************/
/* ------------- Header #header > LOGO et NAVBAR -----------*/
#header {
    width: 100%;
}

#header .container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logoheader {
    margin-bottom: -8px;
    text-align: center;
}

#navbar {
    width: 100vw;
    /* Utilise la largeur totale de la fenêtre */
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    margin-left: calc(-50vw + 50%);
    /* 
        Utilise calc() pour ajuster la marge gauche de la barre de navigation.
        - '50vw' représente la moitié de la largeur de la fenêtre (viewport).
        - Le signe '-' déplace l'élément vers la gauche de cette distance.
        - '50%' représente la moitié de la largeur du conteneur parent.
        - En ajoutant '50%', on compense le déplacement à gauche,
            ce qui permet à #navbar d'occuper toute la largeur de l'écran,
            même si elle est à l'intérieur d'un conteneur centré.
    */
}

.navbarlist {
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 80%;
}

.menu {
    position: relative;
    flex-grow: 0;
    text-align: center;
    padding: 10px 65px;
    color: var(--third-color);
    font-family: var(--font-family);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 5px;
}

.menu a {
    color: inherit;
    text-decoration: none;
}

/* Nouveaux styles pour le sous-menu */
.submenu {
    display: none; /* Masque le sous-menu par défaut, il ne sera pas visible tant que l'utilisateur ne survole pas le menu parent */
    position: absolute; /* Positionne le sous-menu par rapport à son élément parent (le menu) */
    top: 100%; /* Place le sous-menu juste en dessous de l'élément parent */
    left: 50%; /* Centre le sous-menu horizontalement par rapport à l'élément parent */
    transform: translateX(-50%); /* Déplace le sous-menu vers la gauche de 50% de sa propre largeur pour un centrage parfait */
    background-color: var(--primary-color); /* Définit la couleur de fond du sous-menu en utilisant une variable CSS */
    list-style-type: none; /* Supprime les puces de la liste pour un affichage plus propre */
    padding: 0; /* Supprime le padding par défaut des éléments de liste */
    min-width: 200px; /* Définit une largeur minimale pour le sous-menu afin qu'il soit suffisamment large pour contenir les éléments */
    text-align: center; /* Centre le texte à l'intérieur du sous-menu */
}

.menu:hover .submenu {
    display: block; /* Affiche le sous-menu lorsque l'utilisateur survole l'élément parent (le menu) */
    background-color: var(--secondary-color); /* Change la couleur de fond du sous-menu lors du survol du menu parent */
}

.submenu li {
    padding: 10px; /* Ajoute un espace autour de chaque élément de liste dans le sous-menu pour améliorer la lisibilité et l'interaction */
}

.submenu a {
    color: var(--third-color); /* Définit la couleur du texte des liens dans le sous-menu en utilisant une variable CSS */
    text-decoration: none; /* Supprime le soulignement par défaut des liens pour un style plus propre */
    font-size: 14px; /* Définit la taille de police pour les liens dans le sous-menu */
    text-transform: none; /* Ne transforme pas le texte en majuscules ou minuscules, conserve la casse originale */
    letter-spacing: normal; /* Définit l'espacement entre les lettres à la valeur normale, sans espacement supplémentaire */
}

/* Change la couleur des liens au survol dans le sous-menu */
.submenu a:hover {
    color: var(--primary-color); /* Change la couleur du texte au survol pour indiquer que l'élément est interactif */
}

/********************************** MAIN ********************************************/
/* ------------- Section 1 > #presentation -----------*/
#presentation .container {
    width: 65%;
    /* Largeur maximale pour les deux sections */
    margin: 0 auto;
    /* Centre la section horizontalement */
    display: flex;
    align-items: center;
    /* Centre le contenu verticalement */
    flex-wrap: wrap;
    /* border: 1px solid green; */
    font-family: var(--font-family);
}

span {
    font-weight: 800;
}

p {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 2;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 25px;
}

/* ------------- Section 2 > #equipe -----------*/
#equipe .container {
    width: 65%;
    /* Largeur maximale pour les deux sections */
    margin: 0 auto;
    /* Centre la section horizontalement */
    display: flex;
    align-items: center;
    /* Centre le contenu verticalement */
    /* border: 1px solid blue; */
    font-family: var(--font-family);
    justify-content: space-around;
}

.round {
    border-radius: 100%;
    border: 1px solid #000;
    margin-top: 25px;
    box-shadow: 10px 10px 5px 5px rgb(116, 115, 115, 0.5);
    width: 65%;
    height: auto;
}

article {
    /* border: 1px solid yellow; */
    text-align: center;
}

#equipe article a {
    color: inherit;
    /* Hérite la couleur du texte parent */
    text-decoration: none;
    /* Supprime le soulignement */
}

h3, h4, h5 {
    font-size: 16px;
    font-family: var(--font-family);
    margin: 5px;
    letter-spacing: 2px;
}

/* ------------- Section 3 > #contact -----------*/
#contact {
    width: 100%;
    font-family: var(--font-family);
}

#contact .container {
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#form {
    width: 100%;
}

/* Styles généraux pour les champs du formulaire */
.form-group, .form-message {
    width: 100%;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-group>div {
    /* 
    La propriété "width" définit la largeur de chaque élément <div> à l'intérieur de .form-group.
    Ici, on utilise la fonction CSS "calc()" pour calculer dynamiquement cette largeur.
    */
    width: calc(25% - 10px);
    /* 
    - "25%" signifie que chaque <div> occupe 25% de la largeur totale de son conteneur parent (.form-group).
    - "- 10px" soustrait 10 pixels à cette largeur. Cela permet d'ajuster l'espace disponible pour tenir compte des marges ou des espaces entre les éléments.   
    Pourquoi utiliser calc() ?
    - Cela permet de mélanger des unités différentes (ici %, une unité relative, et px, une unité absolue).
    - Cela garantit que les éléments restent proportionnels tout en tenant compte d'un espace fixe (les 10 pixels ici).
    */
}

label {
    display: block;
    /* Assure que le label est au-dessus du champ */
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 500;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* Inclut padding et bordures dans la largeur totale */
    box-shadow: 10px 5px 5px rgba(116, 115, 115, 0.2);
}

/* Spécificités pour le champ de texte (textarea) */
textarea {
    min-height: 150px;
}

/************************** Bouton d'envoi ********************************/
.button {
    display: flex;
    justify-content: center;
}

.button input[type="submit"] {
    padding: 10px 30px;
    background-color: var(--secondary-color);
    color: var(--third-color);
    border: none; /* Ajout pour supprimer la bordure par défaut */
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer; /* Ajout pour indiquer que c'est cliquable */
    transition: background-color 0.3s ease; /* Ajout pour une transition en douceur */
    margin-bottom: 25px;
}

.button input[type="submit"]:hover {
    background-color: var(--primary-color);
}

/************************************ FOOTER *********************************/
/* ------------- Footer #footer -----------*/
#footer {
    width: 100%; /* Largeur maximale pour le pied de page */
    margin: 0 auto; /* Centre la section horizontalement */
    display: flex; /* Utilise flexbox pour la mise en page */
    align-items: center; /* Centre le contenu verticalement */
    justify-content: center; /* Centre les divs horizontalement */
    font-family: var(--font-family); /* Utilise la police définie dans les variables CSS */
    background-color: var(--secondary-color); /* Couleur de fond du pied de page */
    padding-top: 15px; /* Espacement en haut */
    padding-bottom: 15px; /* Espacement en bas */
    color: var(--third-color); /* Couleur du texte */
}

.footergauche {
    text-align: end;
}
.footermilieu {
    text-align: center;
}

#footer > div {
    width: 50%; /* Définit une largeur fixe pour chaque div (ajustez selon vos besoins) */
    max-width: 500px; /* Optionnel : définit une largeur maximale pour éviter que les divs ne deviennent trop larges sur des écrans plus grands */
    margin: 10px; /* Ajoute un espacement autour des divs pour éviter qu'ils ne soient collés les uns aux autres */
}

#footer li {
    list-style: none; /* Supprime les puces des listes */
    font-size: 18px; /* Taille de police pour les éléments de liste */
    margin-bottom: 8px; /* Espacement entre les éléments de liste */
}

#footer a {
    color: inherit; /* Hérite la couleur du texte parent */
    text-decoration: none; /* Supprime le soulignement des liens */
}

/**********************************************************************************/
/********************** RESPONSIVE TABLETTE ET MOBILE ******************************/
/* Médias Queries pour les tablettes */
@media (min-width: 769px) and (max-width: 1024px) {
    #navbar {
        flex-direction: row; /* Assure que le menu est en ligne sur tablette */
        justify-content: space-between; /* Espace entre les éléments du menu */
    }

    .menu {
        padding: 10px 40px; /* Ajuste le padding pour un meilleur espacement sur tablette */
        font-size: 15px; /* Ajuste la taille de police pour le texte du menu */
    }

    #presentation .container,
    #equipe .container,
    #contact .container {
        width: 80%; /* Ajuste la largeur des sections à 80% sur tablette */
    }

    .form-group>div {
        width: calc(50% - 10px); /* Deux champs par ligne sur tablette */
    }

    h3, h4, h5 {
        font-size: 15px; /* Ajuste la taille de police des titres sur tablette */
    }
}
/* Médias Queries pour les appareils mobiles */
@media (max-width: 768px) {
    #navbar {
        flex-direction: column; /* Change la direction du flex pour empiler les éléments */
        margin-left: 0; /* Supprime la marge gauche pour occuper toute la largeur */
    }

    .menu {
        padding: 10px 20px; /* Réduit le padding pour les éléments du menu */
        font-size: 14px; /* Réduit la taille de police pour le texte du menu */
    }

    .navbarlist {
        width: 100%; /* Le menu prend toute la largeur de l'écran */
    }

    #presentation .container,
    #equipe .container,
    #contact .container {
        width: 90%; /* Réduit la largeur des sections à 90% pour un meilleur ajustement sur mobile */
    }

    /* #equipe .round {
        width: 50%;
        height: auto;
        } */

    .form-group>div {
        width: calc(100% - 10px); /* Chaque champ prend toute la largeur disponible */
    }

    h3, h4, h5 {
        font-size: 14px; /* Réduit la taille de police des titres */
    }
}


